.footer{
    display: flex;
    padding: 40px;
    background-color: #FFF7F3;
}
.footer div:nth-child(1){
    width: 40%;
    color: gray;
}
.first ul{
  display: flex;
  flex-direction: row;
  font-size: 25px;
}

.footer div{
    padding: 10px;
    width: 20%;
    font-size: 16px;
}
.footer div img{
    width: 20%;
}
.footer ul{ 
    padding: 20px 0;
}
.second ul li, .third ul li, .fourth ul li{
    display: block;
    color: gray;
    padding: 6px 0;
}
.fourth ul li:nth-child(2){
    font-size: 25px;
    color: tomato;
}
.li{
    padding: 10px;
    color: tomato;
    transition: 0.2s ease-in;
}
.li:hover{
   margin-top: -3px;
}

.insta div{
    display: flex;
    width: 200vw;
    height: 30vh;
    animation: move 10s infinite;
}
.insta div img{
width: 10%;
}
.insta button{
position: relative;
z-index: 0;
top:-15vh;
left: 45vw;
background: white;
color: tomato;
border: none;
padding: 10px;
display: flex;
border-radius: 20px;
font-size: 16px;
align-items: center;
font-weight: 600;
}
.insta button span{
   margin-left: 5px;
}
@keyframes move {
    0%{
        margin-left: 0%;
    }
    40%{
        margin-left: -20%;
    }
    80%{
        margin-left: -40%;
    }
}
@media screen and (max-width:600px) {
    .footer{
        display: flex;
        padding: 40px 10px;
        flex-direction: column;
        background-color: #FFF7F3;
    }
    .footer div:nth-child(1){
        width: 100%;
        color: gray;
    }
    .first ul{
      display: flex;
      flex-direction: row;
      font-size: 25px;
    }
    
    .footer div{
        padding: 10px;
        width: 100%;
        font-size: 18px;
    }
    .footer div img{
        width: 40%;
    }
    .footer ul{ 
        padding: 20px 0;
    }
    .second ul li, .third ul li, .fourth ul li{
        display: block;
        color: gray;
        padding: 6px 0;
    }
    .fourth ul li:nth-child(2){
        font-size: 25px;
        color: tomato;
    }
    .li{
        padding: 10px;
        color: tomato;
        transition: 0.2s ease-in;
    }
    .li:hover{
       margin-top: -3px;
    }
    .insta div{
        display: flex;
        width: 200vw;
        height: 20vh;
        animation: move 10s infinite;
      }
      .insta div img{
       width: 25%;
      }
      .insta button{
      
        left: 35vw;
       
      }
      @keyframes move {
        0%{
          margin-left: 0%;
        }
        20%{
          margin-left: -50%;
        }
        40%{
          margin-left: -100%;
        }
        60%{
          margin-left: -150%;
        }
        80%{
          margin-left: -200%;
        }
        100%{
          margin-left: -250%;
        }
      }
}